<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png">
  <link href="./static/assets/images/favicon.ico" rel="icon">

  <title>My Portfolio</title>

<link href="./static/main.d8e0d294.css" rel="stylesheet"></head>

<body class="">

<!-- Add your content of header -->
<div class="background-color-layer" style="background-image: url('./static/assets/images/MY_DP2.jpg')"
></div>
<main class="content-wrapper">
  <header class="white-text-container section-container">
    <div class="text-center">
      <h1>I am Mehul Kattela</h1>
      <p>Student. Tech Enthusiast. Cricket Lover. Casual Gamer.</p>
      <p>
        <a class="fa-icon fa-icon-2x" href="https://facebook.com/mehul.kattela/" title="">
          <i class="fa fa-facebook"></i>
        </a>
        <a class="fa-icon fa-icon-2x" href="https://twitter.com/KattelaMehul" title="">
          <i class="fa fa-twitter"></i>
        </a>
        <a class="fa-icon fa-icon-2x" href="https://www.instagram.com/mehul.kattela/" title="">
          <i class="fa fa-instagram"></i>
        </a>
        <a class="fa-icon fa-icon-2x" href="https://www.linkedin.com/in/mehul-kattela-b4b2121ab/" title="">
          <i class="fa fa-linkedin"></i>
        </a>
        <a class="fa-icon fa-icon-2x" href="https://github.com/mehulkattela" title="">
          <i class="fa fa-github"></i>
        </a>
      </p>
    </div>
  </header>



<!-- Add your site or app content here -->
 
 <div class="container">
   <div class="row">
     <div class="col-xs-12">

        <div class="card">
          <div class="card-block">
            <h2>About me</h2>
            <div class="row">
              <div class="col-md-4">
                <p><img src="./static/assets/images/MY_DP.jpg" class="img-responsive" alt=""></p>
              </div>
              <div class="col-md-8">

              <p> I'm Mehul Kattela. I'm  pursuing B.Tech in Computer Science at GNITC. I live in Hyderabad.</p>
              <p> Being a Computer Science student I have learnt skills like Coding(C language, Python), Web</p>
              <p> Development(html,css,js), Machine Learning and Data Mining.</p>
              <P> Reach out to 'mehul.kattela@gmail.com' to connect! </P>

              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-block">
            <h2>Internships, Training and Projects</h2>
            <div class="row">
              <div class="col-md-4">
                <img src="./static/assets/images/K_means_certificate" class="img-responsive" alt="">
                <h3 class="h5">Image Compression with K-Means Clustering(Project)</h3>
                <p>May 2020</p>
              </div>
              <div class="col-md-4">
                <img src="./static/assets/images/Red-hat-certificate.jpg" class="img-responsive" alt="">
                <h3 class="h5">Fundamentals of Architecting Scalable Cloud Solutions(Training)</h3>
                <p>Nov 2019</p>
              </div>
              <div class="col-md-4">
                <img src="./static/assets/images/Red-hat(internship).jpg" class="img-responsive" alt="">
                <h3 class="h5">Internship with RedHat</h3>
                <p>Aug 2019</p>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-block">
            <h2>Academics</h2>
            <div class="education">
              <small class="date">2021-2017</small>
              <h3 class="h5 date-title">B.Tech - 8.0 CGPA</h3>

            </div>

            <div class="education">
              <small class="date">2017-2015</small>
              <h3 class="h5 date-title">Intermediate - 95.1 %</h3>

            </div>

            <div class="education">
              <small class="date">2014-2015</small>
              <h3 class="h5 date-title">10th Class- 9.7 GPA</h3>

            </div>

          </div>
        </div>
        

        <div class="card">
          <div class="card-block">
            <h2>Education</h2>
            <div class="row">
              <div class="col-md-4">
                <div class="education-experience">
                  <small class="date">2021-2017</small>
                  <h3 class="h5 date-title">Computer Science and Engineering</h3>
                  <p>Guru Nanak Institutions Technical Campus</p>
                </div>
                
              </div>
              <div class="col-md-4">
                <div class="education-experience">
                  <small class="date">2017-2015</small>
                  <h3 class="h5 date-title">Intermediate</h3>
                  <p>Narayana Junior College</p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="education-experience">
                  <small class="date">2012-2004</small>
                  <h3 class="h5 date-title">Schooling</h3>
                  <p>Slate the School</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="card">
          <div class="card-block">
            <h2>Language</h2>
            <div class="row">
              <div class="col-md-4">
                <div class="language-experience">
                  <h3 class="h5">English  <small>(Fluent)</small></h3>
                </div>
              </div>
              <div class="col-md-4">
                <div class="language-experience">
                  <h3 class="h5">Hindi  <small>(Fluent)</small></h3>
                </div>
              </div>
              <div class="col-md-4">
                <div class="language-experience">
                  <h3 class="h5">Telugu  <small>(Intermediate)</small></h3>
                </div>
              </div>
              <div class="col-md-4">
                <div class="language-experience">
                  <h3 class="h5">Marathi  <small>(Intermediate)</small></h3>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-block">
            <h2>Courses And Certifications</h2>
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <img src="./static/assets/images/UdemyPythonCertificate.jpg" class="img-responsive" alt="...">
                <div class="carousel-caption">
                  <h3 class="h5">Complete Python Developer in 2020: Zero to Mastery</h3>
                  <p>Jun-Jul2020</p>
                </div>
              </div>
              <div class="item">
                <img src="./static/assets/images/AWS_Certificate" class="img-responsive" alt="...">
                <div class="carousel-caption">
                  <h3 class="h5">Getting Started with AWS Machine Learning</h3>
                  <p>Apr-May 2020</p>
                </div>
              </div>

              <div class="item">
                <img src="./static/assets/images/Data_Mining.jpg" class="img-responsive" alt="...">
                <div class="carousel-caption">
                  <h3 class="h5">NPTEL Data Mining(8 Weeks)</h3>
                  <p>Feb-Apr 2020</p>
                </div>
              </div>
            </div>

            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-example-generic" data-slide-to="1"></li>
              <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>

          </div>
          </div>
        </div>
        
        <div class="card">
          <div class="card-block">
            <h2>Social Network</h2>
            <div class="row">
              <div class="col-md-3">
                <p class="social-buttons"><a href="https://twitter.com/KattelaMehul" title=""><span class="social-round-icon fa-icon"><i class="fa fa-twitter"></i></span>@KattelaMehul</a></p>
              </div>
              <div class="col-md-3">
                <p class="social-buttons"><a href="https://www.linkedin.com/in/mehul-kattela-b4b2121ab/" title=""><span class="social-round-icon fa-icon"><i class="fa fa-linkedin"></i></span>Mehul Kattela</a></p>
              </div>
              <div class="col-md-3">
                <p class="social-buttons"><a href="https://www.instagram.com/mehul.kattela/" title=""><span class="social-round-icon fa-icon"><i class="fa fa-instagram"></i></span>mehul.kattela</a></p>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-block">
            <h2>Contact</h2>
            <form action="submit_form" method="post" class="reveal-content">
              <div class="form-group">
                <input name="email" type="email" class="form-control" id="email" placeholder="Email">
              </div>
              <div class="form-group">
                <input name="subject" type="text" class="form-control" id="subject" placeholder="Subject">
              </div>
              <div class="form-group">
                <textarea name="message" class="form-control" rows="5" placeholder="Enter your message"></textarea>
              </div>
              <div class="form-group">
                <button type="submit" class=" btn btn-primary">Send message</button>
              </div> 
            </form>
          </div>
        </div>
       
     </div>
   </div>
 </div>

</main>
<footer class="footer-container white-text-container text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p><img src="./static/assets/images/mashup-icon.svg" alt=""></p>
        
        <p>©All right reserved. Design <a href="http://www.mashup-template.com/" title="Create website with free html template">Mashup Template</a>/<a href="https://unsplash.com/" title="Beautiful Free Images">Unsplash</a></p>
        <p>
          <a class="fa-icon fa-icon-2x" href="https://facebook.com/mehul.kattela/" title="">
            <i class="fa fa-facebook"></i>
          </a>
          <a class="fa-icon fa-icon-2x" href="https://twitter.com/KattelaMehul" title="">
            <i class="fa fa-twitter"></i>
          </a>
          <a class="fa-icon fa-icon-2x" href="https://www.instagram.com/mehul.kattela/" title="">
            <i class="fa fa-instagram"></i>
          </a>
          <a class="fa-icon fa-icon-2x" href="https://www.linkedin.com/in/mehul-kattela-b4b2121ab/" title="">
            <i class="fa fa-linkedin"></i>
          </a>
          <a class="fa-icon fa-icon-2x" href="https://github.com/mehulkattela" title="">
            <i class="fa fa-github"></i>
          </a>
        </p>
      </div>
    </div>
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     scrollRevelation('.card');
  });
</script>
<!-- Google Analytics: change UA-XXXXX-X to be your site's ID 

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
</script>

--><script type="text/javascript" src="./static/main.bc58148c.js"></script></body>

</html>